@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");


.btn-lg, .btn-lg:hover {
  background-color: rgba(17, 90, 142, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  text-decoration: none;
  padding: 18px 30px;
  border-radius: 12px;
  display: inline-block;
  
  text-align: center;
  /* Button/Large */
  font-family: "Poppins",sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    letter-spacing: -0.3px;
}
.btn-lg.b{
    width: 186px;
}
.why-tanga-section h4 {
    margin-bottom: 80px;
}
.navbar-custom-padding {
    padding-top: 10px;
    padding-bottom: 20px;
}
.why-tanga-section .best-card .icon{
    margin-bottom: 20px;
}
.welcome-section{
    background: url('../img2/1_hero/hero-background.png') no-repeat;
    background-size: cover;
}
.mobile-screen{
    width: 100%;
    margin-left: 80px;
}
.mobile-screen img {
    display: block;
}
.app-download{
    margin-top: 70px;
}
.app-download .app-link{
    display: flex;
    gap: 20px;
}
.detail-section .detail-info.backgroud{
    position: relative;
    padding: 90px 10px 50px 60px;
    margin-left: 50px;
}
.detail-section .detail-info.backgroud::after{
    background: url('../img2/2_why_tanga_section/detail-background.png') no-repeat;
    background-size:cover;
    content: "";
    position: absolute;
    width: 1000px;
    height: 100%;
    top: 0px;
    display: block;
    z-index: -1;
    left: 0px;
}
.detail-section{
    overflow: hidden;
}
.detail-section .detail-info.normal{
    padding-left: 110px;
    padding-top: 40px;
}
section{
    padding: 60px 0;
}
.text-grey {
    color: rgba(53, 57, 59, 1);
}
.discover-section {
    background-color: #FFF9F5;
}

.category-section{
    background: url('../img2/4_category_section/category-backgroud.png') no-repeat;
    background-size: cover;
    padding-bottom: 0px;
    position: relative;
}
.category-card{
    border-radius: 40px 40px 0px 0px;
    background: #FFF;
    padding: 40px;
    margin-top: 48px;
}
.category-list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.category-item.browser, .btn-outline-lg,btn-outline-lg:hover {
    background: #fff;
    color: rgba(17, 90, 142, 1);
    font-size: 16px;
    font-style: normal;
    border: 1px solid #115A8E;
    font-weight: 600;
    padding: 14px 25px;
    text-align: center;
    display: block;
    text-decoration: unset !important;
    border-radius: 12px;
}
.category-item{
    border-radius: 12px;
    border:  2px solid  #E3F2FC;
    background:#F2F2F3;
    display: inline-block;
    padding: 14px 25px;
}
.embedded{
    max-width: 900px;
    margin: auto;
    border-radius: 20px;
}

.pricing-section .pricing-card {
    border-radius: 26px;
    border: 1px solid #FD821A;
    background: #FFF;
    padding: 30px;
    min-height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.pricing-include ul, .footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
}
.bdr-top{
    border-top: 1px solid #E7EBFF;
}
.bdr-top-white{
    border-top: 1px solid #FFF9F5;
}
.yearly-card{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 20px;
    background: linear-gradient(124deg, #FD9E4E 34.93%, rgba(255, 255, 255, 0.00) 98.26%);
}
.pricing-include ul li {
    color:#222426;
    /* Subtitle/Large */
    font-family: "Montserrat",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.pricing-include ul li::before{
    content: "";
    background: url('../img2/5_pricing_section/check.svg') no-repeat;
    width: 20px;
    display: block;
}
.pricing-card.second,.pricing-card.second .btn-outline-lg{
    background: #FEE9D7;
}
.pricing-card.third .pricing-include ul li::before{
    background: url('../img2/5_pricing_section/white-check.svg') no-repeat;
}
.pricing-card.third{
    border: 1px solid #E7EBFF;
    background: #115A8E;
    padding: 15px 15px 30px;
}
.pricing-card.third .btn-outline-lg{
    background: #115A8E;
    border-color:#fff ;
    color: #fff;
    margin-left:10px ;
    margin-right: 10px;
}
.pricing-card.third h4,.pricing-card.third h3,.pricing-card.third p, .pricing-card.third li{
    color: #fff;
}
.pricing-card.third .pricing-include{
    padding:0 0px 0 10px ;
}
.best-offer{
    gap: 20px;
}
.best-offer-till{
    border-radius:  8px;
    border: 1px solid  #FFF;
    background: #FEE9D7;
    color: #FD821A;
    padding:5px 10px;
    margin-bottom: 10px;
}
.explore-img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 460px;
}
.contact-us-img{
    max-width: 460px;
    width: 100%;
}
.product-list .product-item img{
    border-radius: 20px;
    display: block;
    width: 100%;
}
.product-section {
    background:#F2F2F3;
}
.product-list{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    /* display: grid; */
    /* grid-auto-flow: column; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
}
.product-list .product-item{
    width: 180px;
}
.contact-section{
    background:#E3F2FC;
    padding-bottom: 0px;
}
.input-control:focus-visible{
    outline: none;
}
.contact-section .btn-lg,.contact-section .btn-lg:hover{
    padding: 16px 35px;
}
.footer{
    padding: 60px 0 0;
}
.footer h6 {
    margin-bottom: 15px;
}
.footer ul li{
    margin-bottom: 14px;
}
.footer ul li a{
    text-decoration: none;
    color:#35393B;
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: block;
    line-height: 24px;
}
.footer .footer-menu{
    padding-bottom: 35px;
    border-bottom:1px solid #BFC2C5;
}
.product-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.social-icon{
    display: flex;
    gap: 22px;
    align-items: center;
}
input::placeholder{
    color: #6d757a;
}
.input-control{
    display: block;
    width: 100%;
    height: 68px;
    padding: 15px 20px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius:12px;
    border: 1px solid #D9DBE9;
    background:  #FFF;
    box-shadow: 0px 2px 12px 0px rgba(20, 20, 43, 0.08);
}
.sub-title-text{
    /* Subtitle/Large */
    font-family: "Montserrat",sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.6px;
    color: #35393B;
}
h1{
    /* Headline/H1 */
    font-family: "Poppins",sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 76.8px */
    letter-spacing: -1.2px;
    color: #0E0F10;
}
.tanga-title {
    font-family: "Poppins",sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 39.2px */
    letter-spacing: -1px;
}
h3{
    /* Headline/H3 */
    font-family: "Poppins",sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 57.6px;
    letter-spacing: -1.2px;
    color: #0E0F10;
}
h4{

    /* Headline/H4 */
    font-family: "Poppins",sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 47.6px;
    letter-spacing: -1.2px;
    color: #0E0F10;
}
h5 {
/* Headline/H5 */
font-family: "Poppins",sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 33.6px;
letter-spacing: -1.2px;
}
h6{
    /* Headline/H6 */
    font-family: "Poppins",sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: -0.3px;
}
.text-sm {
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 25.6px */
}
body{
    font-family: "Montserrat",sans-serif;
}

.copyright-section {
    margin-top: 30px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1200px) {
    .explore-img{
        max-width: 350px;
        width: 100%;
    }
    
}

.white-space-height {
    height: 50px;
}

.white-space-width {
    width: 50px;
}

@media (max-width: 600px) {
    .white-space-height {
        height: 25px;
    }
    .white-space-width {
        width: 25px;
    }
}

/* Adjust the height for smaller screens */
@media (max-width: 600px) {
    .white-space {
        height: 30px; /* Smaller height for small screens */
    }
}

@media only screen and (max-width: 1024px) {
   h1{
    font-size: 28px;
    line-height: 40px;
   }
   h2{
    font-size: 26px;
    line-height: 38px;
   }
   h3{
    font-size: 24px;
    line-height: 32px;
   }
   h4{
    font-size: 20px;
    line-height: 30px;
   }
   h5{
    font-size: 16px;
    line-height: 22px;
   }
   .mobile-screen img {
    width: 100%;
   }
   h6{
    font-size: 14px;
    line-height: 22px;
   }
   p{
    font-size: 14px;
    line-height: 24px
   }
   .sub-title-text{
    font-size: 16px;
    line-height: 26px
   }
   .text-sm{
    font-size: 14px;
    line-height: 24px;
   }
   .btn-lg, .btn-lg:hover{
    font-size: 14px;
    line-height: 22px;
    padding: 12px 16px;
   }
   .app-download{
    margin-top: 40px;
   }
   section{
    padding: 40px 0;
   }
   .why-tanga-section h4{
    margin-bottom: 20px;
   }
   .detail-section .detail-info.backgroud, .detail-section .detail-info.normal{
    padding: 48px 35px 30px 50px;
    margin-left: 0px;
   }
   .pricing-card {
    margin-bottom: 0px;
   }
   .product-list{
    gap: 30px;
    justify-content: center;
   }
   .footer ul li a{
    font-size: 12px;
    line-height: 20px;
   }
   .footer h6{
    margin-bottom: 6px;
   }
   .footer ul{
    margin-bottom: 10px;
   }
   .footer ul li{
    margin-bottom: 8px;
   }
   .input-control{
    padding: 14px 16px;
    height: unset;
   }
   .btn-lg.b{
    width: unset;
    }
   .category-card{
    margin-top: 30px;
   }
   .explore-img{
    max-width: 300px;
   }
   .footer{
    padding: 40px 0;
   }
   .footer-menu{
    padding-bottom: 20px;
   }
   .contact-us-img{
    max-width: 360px;
    }
}

@media only screen and (max-width: 768px) {
    .contact-section{
        padding-bottom: 40px;
    }
   
    .category-item, .btn-outline-lg, btn-outline-lg:hover{
        padding: 8px 14px !important;
    }
    .pricing-include ul li{
        font-size: 14px;
        line-height: 22px;
    }
    .pricing-section .pricing-card{
        padding: 20px;
        min-height: 450px;
        margin:   0 35px 20px;
    }
    .category-card{
        padding: 20px 20px 0px 20px;
        margin-top: 20px;
    }
    .category-list{
        justify-content: center;
    }
    .explore-img{
        margin: 20px auto;
        position: unset;
    }
    .contact-section .btn-lg:hover{
        padding: 12px 16px !important;
    }
    .detail-section .detail-info.backgroud, .detail-section .detail-info.normal{
        padding: 48px 21px 10px 40px;
    }
    .detail-section .detail-info.normal{
        padding-top: 25px !important;
    }
    .why-tanga-section .best-card .icon{
        margin-bottom: 10px;
    }
    .product-list .product-item {
        width: 150px;
    }
}
